@using ModernSkins
@{
    var Skin = Html.Skin("my-skin");
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    @Skin.Script("file_bundle")
    @Skin.Script("dir_bundle")
    @Skin.Style("base")
    @Skin.Style("test_css")
    @Skin.Style("test_less")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
